<div class="container">
  <h2>Application</h2>
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" (click)="add()" data-target="#myModal">
    Add
  </button>
  &nbsp;
  <button type="button" class="btn btn-primary" (click)="UserLogin()">Login</button>
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Application</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="data.name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="email" [(ngModel)]="data.email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="mobile_number">Mobile Number</label>
              <input type="number" class="form-control" id="mobile_number" name="mobile_number" [(ngModel)]="data.mobile_number" placeholder="Enter mobile number">
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <textarea type="text" class="form-control" id="address" name="address" [(ngModel)]="data.address" placeholder="Enter Address"></textarea>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" class="form-control" id="password" name="password" [(ngModel)]="data.password" placeholder="Enter Password">
            </div>
          </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="SaveData()">Submit</button>
        </div>

      </div>
    </div>
  </div>
  <br>
  <br>
  <!--  <table class="table table-hover">-->
  <!--    <thead>-->
  <!--    <tr>-->
  <!--      <th>Name</th>-->
  <!--      <th>Email</th>-->
  <!--      <th>Mobile Number</th>-->
  <!--      <th>Address</th>-->
  <!--      &lt;!&ndash;      <th>Password</th>&ndash;&gt;-->
  <!--      <th colspan="2">Action</th>-->
  <!--    </tr>-->
  <!--    </thead>-->
  <!--    <tbody>-->
  <!--    <tr *ngFor="let item of responseData">-->
  <!--      <td>{{ item.name }}</td>-->
  <!--      <td>{{item.email}}</td>-->
  <!--      <td>{{item.mobile_number}}</td>-->
  <!--      <td>{{item.address}}</td>-->
  <!--      &lt;!&ndash;      <td>{{item.password}}</td>&ndash;&gt;-->
  <!--      <td>-->
  <!--        <button class="btn btn-success" (click)="updateData(item._id)"><i class="fa fa-pencil"></i></button>-->
  <!--      </td>-->
  <!--      <td>-->
  <!--        <button class="btn btn-danger" (click)="deleteData(item._id)"><i class="fa fa-trash"></i></button>-->
  <!--      </td>-->
  <!--    </tr>-->
  <!--    </tbody>-->
  <!--  </table>-->
  <kendo-grid [data]="responseData" [height]="400">
    <!--    <kendo-grid-column field="_id" title="ID" width="40">-->
    <!--    </kendo-grid-column>-->
    <kendo-grid-column field="name" title="Name" width="80"></kendo-grid-column>
    <kendo-grid-column field="email" title="Email" width="80"></kendo-grid-column>
    <kendo-grid-column field="mobile_number" title="Mobile Number" width="80"></kendo-grid-column>
    <kendo-grid-column field="address" title="Address" width="50"></kendo-grid-column>
    <kendo-grid-column title="Action" width="50">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button kendoButton [primary]="true" [iconClass]="'fa fa-pencil fa-fw'" (click)="updateData(dataItem._id)"></button>&nbsp;
        <button kendoButton [primary]="true" [iconClass]="'fa fa-trash fa-fw'" (click)="deleteData(dataItem._id)"></button>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
  <div class="row">
    <div class="col-md-4">
      <app-chart></app-chart>
    </div>
    <div class="col-md-4">
<!--        <div class="col-xs-12 col-sm-6 example-col">-->
<!--          <p>AutoComplete</p>-->
<!--          <kendo-autocomplete [data]="listItems" [placeholder]="'Your favorite sport'">-->
<!--          </kendo-autocomplete>-->
<!--        </div>-->

<!--        <div class="col-xs-12 col-sm-6 example-col">-->
<!--          <p>ComboBox</p>-->
<!--          <kendo-combobox [data]="listItems" [value]="'Basketball'">-->
<!--          </kendo-combobox>-->
<!--        </div>-->

<app-drop-down></app-drop-down>

<!--        <div class="col-xs-12 col-sm-6 example-col">-->
<!--          <p>MultiSelect</p>-->
<!--          <kendo-multiselect [data]="listItems" [value]="value" [placeholder]="'Your favorite sports'"></kendo-multiselect>-->
<!--        </div>-->
      </div>
    <div class="col-md-4">
      <app-excel></app-excel>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    <app-dialogs></app-dialogs>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
